/* ===========================================================================
   <app-crud-page> — styles
   =========================================================================== */
:host {
  display: block;
}

.page-content {
  padding: 1rem;
  max-width: 100%;
}
